.App {
  text-align: center;
  width:500px; margin:auto;
  display:flex;align-items:center;justify-content:center;
}
.step {
  text-align:left;
}
.contained {
  width:100%;
}
#visitDateInput, #birthDateInput {
  background-color: transparent ;
}

.nav-line {
  display:flex;
  align-items:center;justify-content:space-between;
}
.flatpickr-time {
  display:none;
}
.nav-line-right {
  display:flex;
  align-items:center;
  justify-content:flex-end;
}
.step-title {
  margin-bottom:40px;
}
#payButton {
  margin-top:20px;
}